{% extends 'dish/base.html' %}
{% block content %}

    <div class="container-fluid">
        <div class="row">
            <h3> <a href="{% url 'dishexport' %}"> Dish </a></h3>

        </div>
        <div class="row">
            <ul>
                {% for dish in dish_list %}
                <li>
                    {{dish.pk}}<a href="{% url 'dishdetail' dish.pk %}"> {{dish.name}} </a>
                </li>      
                {% endfor %}          
            </ul>
        </div>
    </div>

{% endblock %}